asgiref==3.5.0
beautifulsoup4==4.11.1
certifi==2021.10.8
chardet==3.0.4
charset-normalizer==2.0.12
crispy-bootstrap5==0.6
dj-database-url==0.5.0
Django==4.0.4
django-bootstrap-v5==1.0.11
django-crispy-forms==1.14.0
django-debug-toolbar==3.2.4
django-npm==1.0.0
django-on-heroku==1.1.2
googletrans==3.1.0a0
gunicorn==20.1.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2021.12.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
Pillow==9.1.0
psycopg2-binary==2.9.3
python-dotenv==0.20.0
requests==2.27.1
rfc3986==1.5.0
sniffio==1.2.0
soupsieve==2.3.2.post1
sqlparse==0.4.2
urllib3==1.26.9
whitenoise==6.0.0
